<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="./vendor/autoload.php" colors="true" verbose="true">
    <php>
        <server name="KERNEL_CLASS" value="App\Kernel"/>
        <server name="APP_ENV" value="test" />
        <server name="APP_DEBUG" value="false"/>
    </php>
    <testsuites>
        <testsuite name="unit">
            <directory>test</directory>
        </testsuite>
    </testsuites>
    <filter>
      <whitelist processUncoveredFilesFromWhitelist="true">
        <directory suffix=".php">src</directory>
      </whitelist>
    </filter>
    <logging>
      <log type="coverage-clover" target="coverage.xml"/>
    </logging>
</phpunit>
