sourceDirectory: /mnt/data/ldp/
template: default.html.twig
defaultRdfFormat: turtle
extraPropertiesFilename: properties
contentDisposition: false
validRdfFormats:
  turtle:
    mimeType: "text/turtle"
    extension: ttl
  jsonld:
    mimeType: "application/ld+json"
    extension: jsonld
  ntriples:
    mimeType: "application/n-triples"
    extension: nt
prefixes:
    dc: "http://purl.org/dc/terms/"
    rdf: "http://www.w3.org/1999/02/22-rdf-syntax-ns#"
    rdfs: "http://www.w3.org/2000/01/rdf-schema#"
